body {
    background-color: #040404;
    padding: 20px;
    margin: 0;
    background-image: url(Header\ Background\ 2.jpg);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
}

#conDiv {
    background-image: url(Header\ Background.jpg);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
    height: 400px;
}

#homeDiv {
    background-image: url(Header\ Background\ 3.png);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
    height: 400px;
}

#otherDiv {
    background-image: url(Header\ Background\ 4.jpg);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
    height: 400px;
}

h1, h2, p,
ul, li {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

ul.header li {
    display: inline;
    list-style-type: none;
}

ul.header {
    background-image: url(Style\ background.jpg);
    padding: 0;
    border-radius: 5px;
    text-align: center;
}

ul.header li a {
    color: #f5c242;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    border: 2px solid #f5c242;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    margin: 20px;
    height: 400px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.product {
    margin: 5px;
    display: inline-block;
    height: 200px;
    width: 30%;
    border:2px solid #f5c242;
}

.active {
    background-color: #040404;
    opacity: 50%;
    border-radius: 5px;
}
