body {
    background-color: #040404;
    padding: 20px;
    margin: 0;
    background-image: url(Header\ Background\ 2.jpg);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
}

#conDiv {
    background-image: url(Header\ Background.jpg);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
}

#homeDiv {
    background-image: url(Header\ Background\ 3.png);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
}

#otherDiv {
    background-image: url(Header\ Background\ 4.jpg);
    border-radius: 5px;
    object-fit: cover;
    color: #FFFFFF;
}

h1, h2, p,
ul, li {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

ul.header li {
    display: inline;
    list-style-type: none;
}

ul.header {
    background-color: #545e95;
    padding: 0;
    border-radius: 5px;
    text-align: center;
}

ul.header li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #c5a834;
    border: 5px solid rbga(245, 194, 66, 100%);
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #D6C996;
    border-radius: 5px;
}
